{% extends 'base.html.twig' %}

{% block title %}edition{% endblock %}
{% block stylesheets %}
  
{% endblock %}
{% block body %}
 <div id="layoutSidenav">      
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">EDITIONS - {{edition.getNomEdition()}}</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">collection</a></li>
                            <li class="breadcrumb-item"><a href="index.html">Edition</a></li>
                            <li class="breadcrumb-item active">edition {{edition.getNomEdition()}}</li>
                           
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                               
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                liste des toutes les cartes de l'edition {{edition.getNomEdition()}}
                            </div>
                            <div class="card-body">
                                <form method="post" action="">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Nom</th>
                                            <th>Categorie</th>
                                            <th>Niveau</th>
                                            <th>Rareté</th>
                                            <th>Details</th>
                                            <th>Ajouter</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for carte in cartes %}
                                            <tr>
                                                <td><img src="{{ carte.getCarte().getCarteImage() }}" class="img-fluid rounded-top" alt="" style="width: 100px; height: 100px;"></td>
                                                <td>{{ carte.getCarte().getCarteNom() }}</td>
                                                <td>{{ carte.getCarte().getCarteCategorie() }}</td>
                                                <td>{{ carte.getCarte().getCarteNiveau() }}</td>
                                                <td>{{ carte.getRarete() }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('detail_carte', {'id': carte.getCarte().getId }) }}'">Voir plus</button>
                                                </td>
                                                <td>
                                                    <select class="form-select" name="langue">
                                                        <option selected disabled>Choisir une langue</option>
                                                        {% for langue in langues %}
                                                            <option value="{{ langue.getId() }}">{{ langue.getNomLangue() }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <input type="hidden" name="carte_id" value="{{ carte.getCarte().getId() }}">
                                                    <input type="hidden" name="edition_id" value="{{ edition.getId() }}">
                                                    <button type="submit" class="btn btn-success">Ajouter à ma collection</button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </form>
                            </div>
                        </div>
                    </div>
                </main>
               
            </div>
        </div>

{% endblock %}

{% block javascripts %}
   

{% endblock %}