{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}
{% block stylesheets %}
  
{% endblock %}
{% block body %}
 <div id="layoutSidenav">
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">LANGUES</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="">collection</a></li>
                            <li class="breadcrumb-item active">langues</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                               <button onclick="window.location.href = '{{ path('langue_insert') }}'" type="button"class="btn btn-primary">Ajouter une langue </button>
                               
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                liste des toutes les langues
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Numero</th>
                                            <th>Nom</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Numero</th>
                                            <th>Nom</th>
                                            <th>Action</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for langue in langues %}
                                            <tr>
                                               
                                                <td>{{ langue.getId() }}</td>
                                                <td>{{ langue.getNomLangue() }}</td>
                                                <td> 
                                               <button type="button" onclick="window.location.href = '{{ path('update_langue', {'id': langue.getId()}) }}'" class="btn btn-warning">Modifier</button>
<button type="button" class="btn btn-danger" onclick="confirmDelete('{{ path('delete_langue', {'id': langue.getId()}) }}')">Supprimer</button>

<script>
    function confirmDelete(url) {
        if (confirm("Êtes-vous sûr de vouloir supprimer cette langue ?")) {
            window.location.href = url;
        }
    }
</script>
                                                </td>
                                                
                                            </tr>
                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               
            </div>
        </div>

{% endblock %}

{% block javascripts %}
   

{% endblock %}