{% extends 'base.html.twig' %}

{% block title %}Hello CarteController!{% endblock %}
{% block stylesheets %}
  
{% endblock %}
{% block body %}
 <div id="layoutSidenav">
            
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">EDITIONS</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">collection</a></li>
                            <li class="breadcrumb-item active">edition</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">

                               <button onclick="window.location.href = '{{ path('carte_edition_insert') }}'" type="button"class="btn btn-primary">Ajouter une carte dans une edition</button>

                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('insert_edition') }}'">
                                    Ajouter une nouvelle edition
                                </button>
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                liste des toutes les EDITIONS
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Nom edition</th>
                                            <th>Date</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                           <th>Nom Edition</th>
                                            <th>Date</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for edition in editions %}
                                            <tr>
                                               
                                                <td>{{ edition.getNomEdition() }}</td>
                                                <td>{{ edition.getDateEdition()|date('Y-m-d') }}</td>
                                                <td>
                                                
                                                <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('edition_carte', {'id': edition.getId()}) }}'">
                                                    voir plus
                                                </button>
                                                <button onclick="window.location.href = '{{ path('delete_edition', {'id':edition.getId()})}}'"  type="button"class="btn btn-danger">supprimer</button>

                                                <button type="button" class="btn btn-warning" onclick="window.location.href = '{{ path('update_edition', {'id': edition.getId()}) }}'">
                                                    modifier
                                                </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
               
            </div>
        </div>

{% endblock %}

{% block javascripts %}
   

{% endblock %}