{% extends 'base.html.twig' %}

{% block title %}Ma Collection{% endblock %}

{% block body %}
 <div id="layoutSidenav">   
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Collection</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Ma Collection de cartes Yu-Gi-Oh</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-success text-white mb-4">
                                    <div class="card-body">MAGIE</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                       <h4>{{nbCarteMagie}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card bg-warning text-white mb-4">
                                    <div class="card-body">MONSTRE</div>
                                    
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                        <h4>{{nbCarteMonstre}}</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4  col-md-6">
                                <div class="card bg-danger text-white mb-4">
                                    <div class="card-body">PIEGE</div>
                                    <div class="card-footer d-flex align-items-center justify-content-between">
                                       <h4>{{nbCartePiege}}</h4>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                       
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                               Liste de ma collection de Cartes Yu-Gi-Oh
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Nom</th>
                                            <th>Langue</th>
                                            <th>Edition</th>
                                            <th>Quantite</th>
                                            <th>Autres</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Image</th>
                                            <th>Nom</th>
                                            <th>Langue</th>
                                            <th>Edition</th>
                                            <th>Quantite</th>
                                            <th>Autres</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for carte in cartes %}
                                        <tr>
                                            <td> <img src="{{carte.getCarte().getCarteImage()}}"class="img-fluid rounded-top" alt="" style="width: 60px; height: 90px;" />
                                            </td>
                                            <td>{{carte.getCarte().getCarteNom()}}</td>
                                            <td>{{carte.getLangue().getNomLangue()}}</td>
                                            <td>{{carte.getEdition().getNomEdition()}}</td>
                                            <td>{{carte.getQuantite}}</td>
                                            <td>
                                            <button type="button" class="btn btn-primary" onclick="window.location.href = '{{ path('detail_carte', {'id': carte.getCarte().getId()}) }}'">voir plus</button>
                                            <button type="button" onclick="window.location.href = '{{ path('delete_collection', {'carte_id': carte.getCarte().getId(),'edition_id':carte.getEdition().getId,'langue_id':carte.getLangue().getId()}) }}'" class="btn btn-danger">supprimer</button>
                                            </td>
                                        </tr>
                                    {% endfor %} 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
   
{% endblock %}